- content_for :page_title, 'Character'
- content_for :meta_title, 'Characters'
- content_for :meta_description, 'Biographies of characters from Love is a Game.'
- content_for :meta_url, characters_liag_url
- content_for :meta_image, image_path('liag/chibis/alister.png')

.side-image#alister
  .images-wrapper.framed.drop-shadow.tilt-left
    = image_tag 'liag/characters/alister.jpg'
  .side-image-content
    %h1 Alister Bertholf
    %p
      Snide, aloof, and cynical, Alister has a hard time expressing himself. He tries keeping a cool demeanor, even if he's caught with a genuine smile. Although he often ends up lashing out in frustration, he regrets his actions once he has time to reflect.﻿
    %dl
      %dt Age:
      %dd 27
      %dt Birthday:
      %dd March 23
      %dt Height:
      %dd 6'0"
      %dt Blood Type:
      %dd A

.side-image#jin
  .images-wrapper.framed.drop-shadow.tilt-right
    = image_tag 'liag/characters/jin.jpg'
  .side-image-content
    %h1 Zhou Jin
    %p
      Reserved, friendly and protective, Jin always put others before himself. He finds peace in easing the pain of those he holds dear; however, this behavior has taken its toll on him and his heart feels heavy with the weight of his unappreciated efforts.﻿﻿
    %dl
      %dt Age:
      %dd 26
      %dt Birthday:
      %dd February 21
      %dt Height:
      %dd 5'10"
      %dt Blood Type:
      %dd B

.side-image#dimitri
  .images-wrapper.framed.drop-shadow.tilt-left
    = image_tag 'liag/characters/dimitri.jpg'
  .side-image-content
    %h1 Dimitri Van Dahl
    %p
      Charming and dependable, with a smile that kills, Dimitri is every woman's dream come true. Struggling to find a balance between his love for MC and the freedom he's always known, hid indecisiveness seems to be the root of all his problems. Dimitri's heart loves a woman's touch, but he's afraid to let her keep it.﻿﻿
    %dl
      %dt Age:
      %dd 26
      %dt Birthday:
      %dd June 16
      %dt Height:
      %dd 5'11"
      %dt Blood Type:
      %dd B

.side-image#faust
  .images-wrapper.framed.drop-shadow.tilt-right
    = image_tag 'liag/characters/faust.jpg'
  .side-image-content
    %h1 Faust Darrow
    %p
      Mr. Faust Darrow; No obstacle is overly ambitious when met by his dedication and a little hard work. He's a sensible man, well known for his frugality, yet he spares no expense when doting on his lover. Although he loves to see his significant other smile, Faust has a hard time relying on others, and expects his high standards to be met at all times.﻿
    %dl
      %dt Age:
      %dd 28
      %dt Birthday:
      %dd December 28
      %dt Height:
      %dd 6'0"
      %dt Blood Type:
      %dd AB
﻿
.side-image#milo
  .images-wrapper.framed.drop-shadow.tilt-left
    = image_tag 'liag/characters/milo.jpg'
  .side-image-content
    %h1 Milo Keiner
    %p
      It's hard to find an optimist like Milo. He is infamous for his high spirits and uncanny ability to flatter even his most apathetic company. His optimism is always genuine, though not much of anything else is. For someone so open and carefree, his complex and secretive lifestyle is surprisingly lonely.﻿
    %dl
      %dt Age:
      %dd 24
      %dt Birthday:
      %dd December 1
      %dt Height:
      %dd 5'9"
      %dt Blood Type:
      %dd B

.side-image#enzo
  .images-wrapper.framed.drop-shadow.tilt-right
    = image_tag 'liag/characters/enzo.jpg'
  .side-image-content
    %h1 Enzo Vertti
    %p
      Enzo's gruff, agitated way of speaking usually gives off a bad first impression, although those who know him well would attribute his abrasive demeanor to his moody, introverted nature. He doesn't trust easily and questions his worth often. Beware, the battle against Enzo's low self-esteem is a struggle that only gets harder when he begins to fall in love.﻿
    %dl
      %dt Age:
      %dd 25
      %dt Birthday:
      %dd April 23
      %dt Height:
      %dd 5'10"
      %dt Blood Type:
      %dd A

.side-image
  .images-wrapper.framed.drop-shadow.tilt-left
    = image_tag 'liag/characters/willow.jpg'
  .side-image-content
    %h1 Willow Bates
    %p
      A recent college graduate, who works at a small café, lives alone in her childhood home. Lonesome, and suffocated by the tedium of working at an unfulfilling job, Willow found a quiet joy in Otome games. With few friends and a non-existent love life, she’s grown attached to the happiness brought by romance novels.
    %p
      We join our heroine as her mundane days are interrupted the morning she stumbles across strikingly handsome, vaguely familiar men. After a second glance, it all becomes clear: her favorite characters are now real.
    %p
      “Be careful what you wish for.”﻿
    %dl
      %dt Age:
      %dd 24

.centered
  = link_to 'Find Your Match!', new_quiz_path, class: 'button'
  = link_to 'View Features', features_liag_path, class: 'button'
  = link_to 'Read the FAQ', faq_liag_path, class: 'button'
