%h2 Logos and Icons
%hr

%section.logos
  .logo= image_tag 'logos/AudilisIcon.png'
  .logo= image_tag 'logos/AudilisLogo.png'
  .logo= image_tag 'logos/LiaGIcon.png'
  .logo= image_tag 'logos/LiaGIconShadow.png'
  .logo= image_tag 'logos/LiaGLogo.png'
  .logo= image_tag 'logos/LiaGLogoShadow.png'
  %footer
    %div
      The Audilis logo, Audilis-A logos, and Love is a Game logos are trademarks or registered trademarks of Audilis, DBA in the United States and elsewhere. Redistribution use is limited to press and promotional purposes.
    = link_to 'Download all: logos.zip', image_path('logos/logos.zip')
