%h2 Videos
%hr

= render 'liag/teaser_video'
= render 'liag/gameplay_video'

%h2 Screenshots
%hr

= image_tag 'liag/screenshots/1136x640-1.png'
= image_tag 'liag/screenshots/1136x640-2.png'
= image_tag 'liag/screenshots/1136x640-3.png'
= image_tag 'liag/screenshots/1136x640-4.png'
