= link_to 'Game', '#game'
&middot;
= link_to 'Features', '#features'
&middot;
= link_to 'Videos', '#videos'
&middot;
= link_to 'Screenshots', '#screenshots'
&middot;
= link_to 'Download', '#demo'
&middot;
= link_to 'Logos', '#logos'
&middot;
= link_to 'Assets', '#assets'
&middot;
= link_to 'Company', '#company'
&middot;
= link_to 'Team', '#credits'
&middot;
= link_to 'Contact', '#contact'
