-#
  %p#notice= notice

  %p
    %b Title:
    = @game.title
  %p
    %b Tagline:
    = @game.tagline
  %p
    %b Description:
    = @game.description

  = link_to 'Edit', edit_game_path(@game)
  \|
  = link_to 'Back', games_path

- content_for(:hero) do
  = render "games/#{ @game.uid }/hero"

- @sections.each_with_index do |section, idx|
  = render "games/#{ @game.uid }/section_#{ idx }", section: section

= render "games/#{ @game.uid }/device"
