- content_for :page_title, 'Our Team'
- content_for :meta_title, 'Our Team'
- content_for :meta_description, 'A list of our team members.'
- content_for :meta_url, team_url
- content_for :meta_image, image_path('liag/chibis/enzo.png')

.centered
  %h1 Our Team
  %hr

  %h3 Davin Salas
  %p
    %div Co-founder
    %div Project Director
    -# = link_to 'http://seoulmateswooner.tumblr.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
    = link_to 'http://blog.audilis.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
  %hr

  %h3 Daniel Lynn
  %p
    %div Co-founder
    %div Programmer &amp; Web Design
    = link_to 'http://sypher7.tumblr.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
    = link_to 'http://www.twitter.com/danielericlynn', target: '_blank' do
      = icon('twitter-square fa-2x')
    = link_to 'http://www.reddit.com/u/sypher7', target: '_blank' do
      = icon('reddit-square fa-2x')
  %hr

  %h3 Autumn Munro
  %p
    %div Writer (Prologue)
    = link_to 'http://www.twitter.com/autumn_munro', target: '_blank' do
      = icon('twitter-square fa-2x')
  %hr

  %h3 Viola Yuzuki
  %p
    %div Writer (Events) &amp; Graphic Design
    = link_to 'http://theotomewriter.tumblr.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
  %hr

  %h3 Armi Benitez
  %p
    %div CG Artist
    = link_to 'http://rueamasawa.tumblr.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
    = link_to 'http://www.twitter.com/rueamasawa', target: '_blank' do
      = icon('twitter-square fa-2x')
  %hr

  %h3 Crystal Quach
  %p
    %div Sprite Artist
    = link_to 'http://pewbirdy.tumblr.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
    = link_to 'http://www.twitter.com/pewbirdy', target: '_blank' do
      = icon('twitter-square fa-2x')
  %hr

  %h3 Sarah Lyu
  %p
    %div Background Artist
    = link_to 'http://restlessgamingnights.tumblr.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
  %hr

  %h3 Jasmin Aleman
  %p
    %div CG Artist &amp; Character Design
    = link_to 'http://tokyolovelights.tumblr.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
    = link_to 'http://www.twitter.com/Rikojaejoong', target: '_blank' do
      = icon('twitter-square fa-2x')
  %hr

  %h3 Camille Arana
  %p
    %div UI Design
    = link_to 'http://otomesiren.tumblr.com', target: '_blank' do
      = icon('tumblr-square fa-2x')
    = link_to 'http://www.twitter.com/xCamyz', target: '_blank' do
      = icon('twitter-square fa-2x')
  %hr

  %h3 Alyssa Menes
  %p
    %div Composer
    = link_to 'http://www.twitter.com/ACMenes', target: '_blank' do
      = icon('twitter-square fa-2x')
    = link_to 'http://acmenesmusic.com', target: '_blank' do
      = icon('external-link-square fa-2x')
  %hr

  %h3 Juley Nyugen
  %p
    %div Background Artist
    = link_to 'http://jaenabi.deviantart.com/gallery/', target: '_blank' do
      = icon('external-link-square fa-2x')
  %hr

  = link_to 'Love is a Game', liag_path, class: 'button'
