- content_for :page_title, 'Our Team'
- content_for :meta_title, 'Our Team'
- content_for :meta_description, 'A list of our team members.'
- content_for :meta_url, team_url
- content_for :meta_image, image_path('liag/chibis/enzo.png')

.centered
  %h1 Our Team
  %hr

  %h3 Davin Salas
  %p
    %div Co-founder
    %div Project Director
    -# = link_to 'seoulmateswooner.tumblr.com', 'http://seoulmateswooner.tumblr.com', target: '_blank'
  %hr

  %h3 Daniel Lynn
  %p
    %div Co-founder
    %div Programmer &amp; Web Design
    = link_to 'sypher7.tumblr.com', 'http://sypher7.tumblr.com', target: '_blank'
  %hr

  %h3 Autumn Munro
  %p
    %div Writer (Prologue)
  %hr

  %h3 Viola Yuzuki
  %p
    %div Writer (Events) &amp; Graphic Design
    = link_to 'theotomewriter.tumblr.com', 'http://theotomewriter.tumblr.com', target: '_blank'
  %hr

  %h3 Armi Benitez
  %p
    %div CG Artist
    = link_to 'rueamasawa.tumblr.com', 'http://rueamasawa.tumblr.com', target: '_blank'
  %hr

  %h3 Crystal Quach
  %p
    %div Sprite Artist
    = link_to 'pewbirdy.tumblr.com', 'http://pewbirdy.tumblr.com', target: '_blank'
  %hr

  %h3 Sarah Lyu
  %p
    %div Background Artist
    = link_to 'restlessgamingnights.tumblr.com', 'http://restlessgamingnights.tumblr.com', target: '_blank'
  %hr

  %h3 Jasmin Aleman
  %p
    %div CG Artist &amp; Character Design
    = link_to 'tokyolovelights.tumblr.com', 'http://tokyolovelights.tumblr.com', target: '_blank'
  %hr

  %h3 Camille Arana
  %p
    %div UI Design
    = link_to 'otomesiren.tumblr.com', 'http://otomesiren.tumblr.com', target: '_blank'

  %hr
  = link_to 'Love is a Game', liag_path, class: 'button'
