.centered
  %h1 Thank you!
  %hr
  We will get back to you soon.
  %br
  Meanwhile, please connect with us:
  %hr

  = link_to tumblr_url, target: '_blank' do
    = icon('tumblr fa-fw fa-4x')
  = link_to facebook_url, target: '_blank' do
    = icon('facebook fa-fw fa-4x')
  = link_to twitter_url, target: '_blank' do
    = icon('twitter fa-fw fa-4x')
  = link_to instagram_url, target: '_blank' do
    = icon('instagram fa-fw fa-4x')
  = link_to google_plus_url, target: '_blank' do
    = icon('google-plus fa-fw fa-4x')
  = link_to youtube_url, target: '_blank' do
    = icon('youtube fa-fw fa-4x')
