- content_for :page_title, 'Contact Us'
- content_for :meta_title, 'Contact Us'
- content_for :meta_description, 'Reach out to our team and ask anything.'
- content_for :meta_url, new_contact_url
- content_for :meta_image, image_path('liag/chibis/faust.png')

.centered
  %h1 Contact Us
  %hr

  = render 'shared/form_errors', resource: @message

  = form_for @message, url: contact_path do |form|
    = form.text_field :name, placeholder: 'Name'
    = form.email_field :email, placeholder: 'Email', required: true, pattern: '([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})'
    = form.text_field :topic, placeholder: 'Subject'
    = form.text_area :message, placeholder: 'Message', required: true
    = recaptcha_tags
    = form.submit 'Send Message'
