%footer.footer{:role => "contentinfo"}
  -#.footer-logo
    = image_tag('logo_full.png', alt: 'Audilis')
  .footer-links
    %ul
      %li
        %h3 Content
      %li
        = link_to 'Games', Game.first
      -#%li
        = link_to 'Team', team_path
      -#%li
        = link_to 'Contact', new_contact_path
      -#%li
        = link_to 'About Us', about_path
    %ul
      %li
        %h3 Follow Us
      %li
        = link_to 'http://audilisofficial.tumblr.com', target: '_blank' do
          = icon('tumblr fa-fw')
          Tumblr
      %li
        = link_to 'https://www.facebook.com/AudilisGames', target: '_blank' do
          = icon('facebook fa-fw')
          Facebook
      %li
        = link_to 'https://twitter.com/audilisofficial', target: '_blank' do
          = icon('twitter fa-fw')
          Twitter
      %li
        = link_to 'https://www.youtube.com/c/Audilis', target: '_blank' do
          = icon('youtube fa-fw')
          YouTube
    -#%ul
      %li
        %h3 Legal
      %li
        = link_to 'Terms and Conditions', terms_legal_path
      %li
        = link_to 'Privacy Policy', privacy_legal_path
  %hr
  %p
    &copy;
    = Time.now.year
    Audilis
