%body
  %header.navigation{:role => "banner"}
    .navigation-wrapper
      = link_to root_path, class: 'logo' do
        = image_tag('logos/full/audilis.png', alt: 'Audilis')
      %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
      %nav{:role => "navigation"}
        %ul#js-navigation-menu.navigation-menu.show
          %li.nav-link.more
            = link_to 'Love Is A Game'
            %ul.submenu
              %li
                = link_to 'Overview', liag_path
              %li
                = link_to 'Characters', characters_liag_path
              %li
                = link_to 'Features', features_liag_path
              %li
                = link_to 'FAQ', faq_liag_path
          %li.nav-link
            = link_to 'Our Team', team_path
          %li.nav-link
            = link_to 'Contact Us', new_contact_path
      .navigation-tools
        .email-bar
          = form_for :subscription, url: subscriptions_path do |fields|
            = fields.email_field :email, placeholder: 'Subscribe'
            %button{:type => "submit"}
              = icon('envelope fa-fw')
          .sub-text Sign up for our newsletter
        -#%a.button.sign-in{:href => "javascript:void(0)" } Sign In
